<?php
/**
 * Utworzono przez: Michał Świątek w PhpStorm
 * Dla: Zend CMS v1.0
 * Dnia: 2015-03-27 16:34
 *
 * @var $item Zend_Navigation_Page_Mvc
 * @var $page Zend_Navigation_Page_Mvc
 * @var $container Zend_Navigation_Page_Mvc
 * @var $navigation Zend_View_Helper_Navigation
 * @var $this CMS_View
 */

$container = $this->pages;

$count = count($container);


?>

<ol class="breadcrumb">

    <?php foreach($container as $page): ?>
        <?php if(strlen($page->getLabel()) > 0): /* skip elements without label */ ?>
            <li <?php echo ($count > 1) ? '' : 'class="active"'; ?>>
                <?php if($count > 1):?>
                    <a href="<?php echo $page->getHref()?>"><?php echo $page->getLabel()?></a>
                <?php else: ?>
                    <?php echo $page->getLabel(); ?>
                <?php endif; ?>
            </li>
        <?php endif;?>
        <?php $count--;endforeach;?>
</ol>