<?php
/**
 * Utworzono przez: Michał Świątek w PhpStorm
 * Dla: Zend CMS v1.0
 * Dnia: 2015-03-30 17:24
 */

?>
<?php //if ($this->pageCount > 1): ?>
        <ul class="pagination new-pagination">
            <?php if($this->first != $this->current) : ?>
                <li><a href="<?php echo $this->route(null, array('page' => $this->first)); ?>" aria-label="First"><span aria-hidden="true">&laquo;</span></a></li>
            <?php else : ?>
                <li class="disabled"><a href="" aria-label="First"><span aria-hidden="true">&laquo;</span></a></li>
            <?php endif; ?>
            <?php if(isset($this->previous)): ?>
                <li><a href="<?php echo $this->route(null, array('page' => $this->previous)); ?>">&lsaquo;</a></li>
            <?php else : ?>
                <li class="disabled"><a href="">&lsaquo;</a></li>
            <?php endif; ?>

            <?php foreach($this->pagesInRange as $page) : ?>
                <?php if($page != $this->current) : ?>
                    <li><a href="<?php echo $this->route(null, array('page' => $page)); ?>"><?php echo $page; ?></a></li>
                <?php else : ?>
                    <li class="active"><a href=""><?php echo $page; ?></a></li>
                <?php endif; ?>
            <?php endforeach; ?>

            <?php if(isset($this->next)): ?>
                <li><a href="<?php echo $this->route(null, array('page' => $this->next)); ?>">&rsaquo;</a></li>
            <?php else : ?>
                <li class="disabled"><a href="">&rsaquo;</a></li>
            <?php endif; ?>
            <?php if($this->last != $this->current) : ?>
                <li><a href="<?php echo $this->route(null, array('page' => $this->last)); ?>" aria-label="last"><span aria-hidden="true">&raquo;</span></a></li>
            <?php else : ?>
                <li class="disabled"><a href="" aria-label="last"><span aria-hidden="true">&raquo;</span></a></li>
            <?php endif; ?>
        </ul>
<?php //endif; ?>