<?php
/**
 * Utworzono przez: Michał Świątek w PhpStorm
 * Dla: Zend CMS v1.0
 * Dnia: 2015-03-28 23:40
 *
 * @var $user Model_User
 */

$user = $this->user;
$userData = $user->findOneData();
?>

<div class="page-header">
    <h3>Informacje o użytkowniku <small><?php echo $user->getEmail(); ?></small></h3>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped table-bordered">
            <tbody>
            <tr>
                <td>Adres e-mail</td>
                <td><?php echo $user->getEmail(); ?></td>
            </tr>
            <tr>
                <td>Data rejestracji</td>
                <td><?php echo $user->getDateRegistered()->toMysqlDate(); ?></td>
            </tr>
            <tr>
                <td>Konto włączone?</td>
                <td><?php echo ($user->getEnabled()) ? 'Tak' : 'Nie'; ?></td>
            </tr>
            <tr>
                <td>Konto aktywne?</td>
                <td><?php echo ($user->getActive()) ? 'Tak' : 'Nie'; ?></td>
            </tr>
            <tr>
                <td>Rola</td>
                <td><?php echo $user->getRole(); ?></td>
            </tr>
            <?php if($userData) : ?>
                <tr>
                    <td>Imię</td>
                    <td><?php echo ($userData->getFirstName()) ? $userData->getFirstName() : 'Brak Danych'; ?></td>
                </tr>
                <tr>
                    <td>Nazwisko</td>
                    <td><?php echo ($userData->getLastName()) ? $userData->getLastName() : 'Brak Danych' ?></td>
                </tr>
                <tr>
                    <td>Telefon</td>
                    <td><?php echo ($userData->getPhone()) ? $userData->getPhone() : 'Brak Danych' ?></td>
                </tr>
            <?php endif; ?>
            </tbody>
        </table>
        <div class="col-xs-12 page-actions">
            <a class="btn btn-default" href="<?php echo $this->route('admin.users.edit', array('id' => $user->getId())); ?>">Edytuj</a>
        </div>
    </div>
</div>