<?php
/**
 * Utworzono przez: Michał Świątek w PhpStorm
 * Dla: Zend CMS v1.0
 * Dnia: 2015-03-28 23:40
 * @var $user Model_User
 */

$user = $this->user;

?>

<div class="page-header">
    <h3>Edycja użytkownika <small><?php echo $user->getEmail(); ?></small></h3>
</div>
<div class="row">
    <div class="col-xs-12">
        <?php echo $this->form; ?>
    </div>
</div>