<?php
/**
 * Utworzono przez: Michał Świątek w PhpStorm
 * Dla: Zend CMS v1.0
 * Dnia: 2015-03-28 23:40
 *
 * @var $users Model_User[]|Zend_Paginator
 * @var $this CMS_View
 */

$users = $this->users;

?>

<div class="page-header">
    <h3>Lista Użytkowników</h3>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped table-bordered" id="users-table">
            <thead>
            <tr><th>Id</th><th>Email</th><th>Rola</th><th>Konto</th><th>Akcje</th></tr>
            </thead>
            <tbody>
            <?php if($users->count() != 0) : ?>
                <?php foreach($users as $user) : ?>
                    <?php /* @var $user Model_User */ ?>
                    <tr>
                        <td><?php echo $user->getId(); ?></td>
                        <td><?php echo $user->getEmail(); ?></td>
                        <td><?php echo $user->getRole(); ?></td>
                        <td><?php echo ($user->getEnabled()) ? 'Włączone' : 'Wyłączone'; ?></td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-xs btn-info" href="<?php echo $this->route('admin.users.details', array('id' => $user->getId())); ?>">Szczegóły</a>
                                <a class="btn btn-xs btn-default" href="<?php echo $this->route('admin.users.edit', array('id' => $user->getId())); ?>">Edytuj</a>
                            </div>
                        </td>
                    </tr>
                <?php endforeach; ?>
                <tr class="pagination-row">
                    <td colspan="5">
                        <?php echo $users; ?>
                    </td>
                </tr>
            <?php else : ?>
                <tr class="pagination-row">
                    <td colspan="5">
                        Brak użytkowników
                    </td>
                </tr>
            <?php endif; ?>
            </tbody>
        </table>
        <div class="col-xs-12 page-actions">
            <a class="btn btn-default" href="<?php echo $this->route('admin.users.add'); ?>">Dodaj użytkownika</a>
        </div>
    </div>
</div>