<?php
/**
 * Utworzono przez: Michał Świątek w PhpStorm
 * Dla: Zend CMS v1.0
 * Dnia: 2015-03-28 23:39
 */

?>
<div class="page-header">
    <h3>Podsumowanie</h3>
</div>
<div class="row">
    <div class="col-xs-12">
    </div>
</div>