<?php
/**
 * Utworzono przez: Michał Świątek w PhpStorm
 * Dla: Zend CMS v1.0
 * Dnia: 2015-03-28 23:35
 */

?>

<div class="page-header">
    <h3>Edycja użytkownika</h3>
</div>
<div class="row">
    <div class="col-xs-10">
        <?php echo $this->form; ?>
    </div>
</div>