<?php
/**
 * Utworzono przez: Michał Świątek w PhpStorm
 * Dla: Zend CMS v1.0
 * Dnia: 2015-03-28 23:35
 *
 * @var $user Model_User
 */

$user = $this->user;
$userData = $user->findOneData();

?>

<div class="page-header">
    <h3>Informacje o użytkowniku</h3>
</div>
<div class="row">
    <div class="col-xs-12">
        <?php if(!$userData) : ?>
            <div class="alert alert-info alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                Dane o użytkowniku są niekompletne, aby je uzupełnić kliknij <a href="<?php echo $this->route('panel.user.edit'); ?>">tutaj</a>.
            </div>
        <?php endif; ?>
        <table class="table table-striped table-bordered">
            <tbody>
            <tr>
                <td>Adres e-mail</td>
                <td><?php echo $user->getEmail(); ?></td>
            </tr>
            <tr>
                <td>Data rejestracji</td>
                <td><?php echo $user->getDateRegistered()->toMysqlDate(); ?></td>
            </tr>
            <?php if($userData) : ?>
                <tr>
                    <td>Imię</td>
                    <td><?php echo ($userData->getFirstName()) ? $userData->getFirstName() : 'Brak Danych'; ?></td>
                </tr>
                <tr>
                    <td>Nazwisko</td>
                    <td><?php echo ($userData->getLastName()) ? $userData->getLastName() : 'Brak Danych' ?></td>
                </tr>
                <tr>
                    <td>Telefon</td>
                    <td><?php echo ($userData->getPhone()) ? $userData->getPhone() : 'Brak Danych' ?></td>
                </tr>
            <?php endif; ?>
            </tbody>
        </table>
        <div class="col-xs-12 page-actions">
            <a class="btn btn-default" href="<?php echo $this->route('panel.user.edit'); ?>">Edytuj</a>
        </div>
    </div>
</div>