<?php
/**
 * Utworzono przez: Michał Świątek w PhpStorm
 * Dla: Zend CMS v1.0
 * Dnia: 2015-03-25 23:42
 *
 *
 * @var $site Model_Site
 * @var $this CMS_View
 */

$site = $this->site;

?>

<div class="col-xs-9 col_one">
    <?php echo $this->form; ?>
</div>
<div class="col-xs-3 col_two">
    <?php echo $site->getColumnOne(); ?>
</div>