<?php
/**
 * Utworzono przez: Michał Świątek w PhpStorm
 * Dla: Zend CMS v1.0
 * Dnia: 2015-03-25 23:13
 *
 * @var $site Model_site
 * @var $this CMS_View
 */

$site = $this->site;

?>
<div class="col-xs-6 col_one">
    <?php echo $site->getColumnOne(); ?>
</div>
<div class="col-xs-6 col_two">
    <?php echo $site->getColumnTwo(); ?>
</div>

