<?php
/**
 * Utworzono przez: Michał Świątek w PhpStorm
 * Dla: Zend CMS v1.0
 * Dnia: 2015-03-31 09:11
 *
 * @var $site Model_Site
 * @var $this CMS_View
 */

$site = $this->site;

?>

<?php if($site->getColumnOne() && $site->getColumnTwo()) : ?>
    <div class="col-xs-6 col_one">
        <?php echo $site->getColumnOne(); ?>
    </div>
    <div class="col-xs-6 col_two">
        <?php echo $site->getColumnTwo(); ?>
    </div>
<?php else : ?>
    <div class="col-xs-12 col_one">
        <?php echo $site->getColumnOne(); ?>
    </div>
<?php endif; ?>