<?php
/**
 * Utworzono przez: Michał Świątek w PhpStorm
 * Dla: Zend CMS v1.0
 * Dnia: 2015-03-31 21:00
 *
 * @var $this CMS_View
 * @var $news Model_News[]|Zend_Paginator
 */

$news = $this->news;

?>

<div class="col-xs-12 col_one">
    <?php if($news->count() != 0) : ?>
        <?php foreach($news as $n) : ?>
            <div class="media">
                <div class="media-body">
                    <h4 class="media-heading"><a href="<?php echo $this->route('news', array('id' => $n->getId())); ?>"><?php echo $n->getTitle()." : ".$n->getAuthor(); ?></a></h4>
                    <?php echo $n->getShortText() . " ..."; ?>
                </div>
            </div>
        <?php endforeach; ?>
    <?php else : ?>
        <p>Brak aktualności</p>
    <?php endif; ?>
</div>