<?php
/**
 * Utworzono przez: Michał Świątek w PhpStorm
 * Dla: Zend CMS v1.0
 * Dnia: 2015-03-31 21:00
 *
 * @var $news Model_News
 * @var $this CMS_View
 */

$news = $this->news;

?>

<div class="media">
    <div class="media-body">
        <h4 class="media-heading"><?php echo $news->getTitle(); ?></h4>
        <?php echo $news->getText(); ?>
        <p class="text-right"><?php echo $news->getAuthor();?>&nbsp;<?php echo $news->getDateCreated()->toMysqlDate(); ?></p>
    </div>
</div>