<?php
/**
 * Utworzono przez: Michał Świątek w PhpStorm
 * Dla: Zend CMS v1.0
 * Dnia: 2015-03-25 22:40
 * @var $exception Zend_Exception
 */
$exception = $this->exception;
?>

    <h2><?php  echo $this->translate('Error')?></h2>
    <p><?php  echo $this->translate($this->message)?></p>
<?php if ($exception): ?>
    <pre>Exception (<?php  echo get_class($exception)?>(<?php  echo $exception->getCode()?>)):<?php  echo $exception->getMessage()?></pre>
    <pre><?php  echo $exception->getTraceAsString()?></pre>
    <?php  if ($previous = $exception->getPrevious()): ?>
        <hr>
        <pre>Previous exception (<?php  echo get_class($previous)?>(<?php  echo $previous->getCode()?>
            )):<?php  echo $previous->getMessage()?></pre>
        <pre><?php  echo $previous->getTraceAsString()?></pre>
    <?php  endif; ?>
<?php  endif;?>