<?php
/**
 * Utworzono przez: Michał Świątek w PhpStorm
 * Dla: Zend CMS v1.0
 * Dnia: 2015-03-26 13:19
 */

?>

<div class="col-xs-12 col_one">
    <div class="col-xs-6">
        <div class="page-header"><h3>Szybka rejestracja</h3></div>
        <?php echo $this->formRegister; ?>
    </div>
    <div class="col-xs-6">
        <div class="page-header"><h3>Logowanie</h3></div>
        <?php echo $this->form; ?>
    </div>
</div>
