<?php
/**
 * Utworzono przez: Michał Świątek w PhpStorm
 * Dla: Zend CMS v1.0
 * Dnia: 2015-03-28 11:42
 */
?>
<div class="col-xs-12 col_one">
    <div class="col-xs-10 col-xs-offset-1">
        <?php if(Zend_Registry::get('UserCanRegister')) echo $this->form;
        else echo '<h3>Rejestracja została wyłączona!</h3>'; ?>
    </div>
</div>
