<?php
/**
 * Utworzono przez: Michał Świątek w PhpStorm
 * Dla: Zend CMS v1.0
 * Dnia: 2015-04-01 13:31
 */
?>

<div class="page-header">
    <h3>Dodawanie aktualności</h3>
</div>
<div class="row">
    <div class="col-xs-12">
        <?php echo $this->form; ?>
    </div>
</div>
