<?php
/**
 * Utworzono przez: Michał Świątek w PhpStorm
 * Dla: Zend CMS v1.0
 * Dnia: 2015-04-01 13:31
 * @var $news Model_News
 */

$news = $this->news;

?>

<div class="page-header">
    <h3>Edycja aktualnosći <small><?php echo $news->getTitle(); ?></small></h3>
</div>
<div class="row">
    <div class="col-xs-12">
        <?php echo $this->form; ?>
    </div>
</div>