<?php
/**
 * Utworzono przez: Michał Świątek w PhpStorm
 * Dla: Zend CMS v1.0
 * Dnia: 2015-04-01 13:31
 * @var $news Model_News[]|Zend_Paginator
 * @var $this CMS_View
 */

$news = $this->news;

?>

<div class="page-header">
    <h3>Lista Aktualności</h3>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped table-bordered" id="users-table">
            <thead>
            <tr><th>Id</th><th>Tytuł</th><th>Autor</th><th>Data publikacji</th><th>Akcje</th></tr>
            </thead>
            <tbody>
            <?php if($news->count() != 0) : ?>
            <?php foreach($news as $n) : ?>
                <?php /* @var $n Model_News */ ?>
                <tr>
                    <td><?php echo $n->getId(); ?></td>
                    <td><?php echo $n->getTitle(); ?></td>
                    <td><?php echo $n->getAuthor(); ?></td>
                    <td><?php echo $n->getDateCreated()->toMysqlDate(); ?></td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-xs btn-info" target="_blank" href="<?php echo $this->route('news', array('id' => $n->getId())); ?>">Zobacz</a>
                            <a class="btn btn-xs btn-default" href="<?php echo $this->route('admin.news.edit', array('id' => $n->getId())); ?>">Edytuj</a>
                        </div>
                    </td>
                </tr>
            <?php endforeach; ?>
            <tr class="pagination-row">
                <td colspan="5">
                    <?php echo $news; ?>
                </td>
            </tr>
            <?php else : ?>
                <tr class="pagination-row">
                    <td colspan="5">
                        Brak aktualności.
                    </td>
                </tr>
            <?php endif; ?>
            </tbody>
        </table>
        <div class="col-xs-12 page-actions">
            <a class="btn btn-default" href="<?php echo $this->route('admin.news.add'); ?>">Dodaj aktualność</a>
        </div>
    </div>
</div>