.navbar {
    border-radius: 0;
    margin-bottom: 0;
}
.shadow{
    width: 100%;
    height: 54px;
    background: transparent url(../../images/top-shadow.png) repeat-x;
}
.content {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #43403f;
}

.content .title{
    font-family: 'Open Sans',sans-serif;
    font-weight: bold;
    font-size: 19px;
    line-height: 25px;
    color: #43403f;
}

.subpage {
    margin-top: 30px;
}

.subpage .col_one {
    padding-left: 35px;
    padding-right: 16px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #43403f;
    margin-bottom: 20px;
}

.subpage .col_two {
    padding-left: 16px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #43403f;
}

.panel-menu {
    border: 1px solid #5e5e5e;
    border-radius: 4px;
}

.menu-title {
    padding: 10px;
    text-align: center;
    border-top: 1px solid #5e5e5e;
    border-left: 1px solid #5e5e5e;
    border-right: 1px solid #5e5e5e;
    border-radius: 4px;
    background: #d9edf7;
}

.panel-menu li {
    border-bottom: 1px solid #5e5e5e;
    margin-top: 0 !important;
}
.panel-menu li:last-child {
    border-bottom: 0;
}

.panel-menu li a {
    border-radius: 0;
}

.panel-menu li:first-child a {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
.panel-menu li:last-child a {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.page-actions {
    padding: 15px;
    background: #f9f9f9;
    border-top: 1px solid #dddddd;
}


#users-table td {
    vertical-align: middle;
}

.pagination-row{
    background: #f9f9f9 !important;
}

.pagination-row .new-pagination {
    margin: 0;
    float: right;
}