.navbar {
    border-radius: 0;
    margin-bottom: 0;
}
.shadow{
    width: 100%;
    height: 54px;
    background: transparent url(../../images/top-shadow.png) repeat-x;
}
.content {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #43403f;
}

.content .title{
    font-family: 'Open Sans',sans-serif;
    font-weight: bold;
    font-size: 19px;
    line-height: 25px;
    color: #43403f;
}

.subpage {
    margin-top: 30px;
}

.subpage .col_one {
    padding-left: 35px;
    padding-right: 16px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #43403f;
    margin-bottom: 20px;
}

.subpage .col_two {
    padding-left: 16px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #43403f;
}

/*form .error {*/
    /*color: #ee1100;*/
    /*border-color: #ee1100;*/
/*}*/
/*form .errors {*/
    /*color: #ee1100;*/
/*}*/
