<?php
/**
 * Utworzono przez: Michał Świątek w PhpStorm
 * Dla: Zend CMS v1.0
 * Dnia: 2015-03-28 23:33
 *
 * @var $this CMS_View
 * @var $user Model_User
 */

$user = $this->user;

?>

<div class="page-header">
    <h3>Podsumowanie</h3>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped table-bordered">
            <tbody>
                <tr>
                    <td>Status</td>
                    <td>Konto <?php echo ($user->getActive()) ? 'aktywne' : 'nieaktywne'; ?></td>
                </tr>
                <tr>
                    <td>Adres e-mail</td>
                    <td><?php echo $user->getEmail(); ?></td>
                </tr>
                <tr>
                    <td>Data rejestracji</td>
                    <td><?php echo $user->getDateRegistered()->toMysqlDate(); ?></td>
                </tr>
                <tr>
                    <td>Ostatnie logowanie</td>
                    <td><?php echo $user->getDateLastLogin()->toMysqlDate(); ?></td>
                </tr>
                <tr>
                    <td>Ostatnie nieudane logowanie</td>
                    <td><?php echo ($user->getDateLastLoginFail()) ? $user->getDateLastLoginFail()->toMysqlDate() : '---'; ?></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>