<?php
/**
 * Utworzono przez: Michał Świątek w PhpStorm
 * Dla: Zend CMS v1.0
 * Dnia: 2015-03-28 23:39
 *
 * @var $sites Zend_Paginator|Model_Site[]
 * @var $this CMS_View
 */

$sites = $this->sites;

?>

<div class="page-header">
    <h3>Lista Stron</h3>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            Wszelkie strony utworzone tutaj(za wyjątkeim strony głownej, kontaktu i o nas) są dostępne pod adresem http://[domena]/site/[slug]
        </div>
        <table class="table table-striped table-bordered" id="users-table">
            <thead>
            <tr><th>Id</th><th>Slug</th><th>Tytuł</th><th>Data utworzenia</th><th>Akcje</th></tr>
            </thead>
            <tbody>
            <?php if($sites->count() != 0) : ?>
                <?php foreach($sites as $site) : ?>
                    <?php /* @var $user Model_Site */ ?>
                    <tr>
                        <td><?php echo $site->getId(); ?></td>
                        <td><?php echo $site->getSlug(); ?></td>
                        <td><a target="_blank" href="<?php echo $this->route('site', array('slug' => $site->getSlug())); ?>"><?php echo $site->getTitle(); ?></a></td>
                        <td><?php echo $site->getDateCreated()->toMysqlDate(); ?></td>
                        <td>
                            <div class="btn-group">
                                <?php
                                $route = '';
                                switch($site->getSlug()){
                                    case 'home': $route = $this->route('admin.landing.home');break;
                                    case 'about': $route = $this->route('admin.landing.about');break;
                                    case 'contact': $route = $this->route('admin.landing.contact');break;
                                    default: $route = $this->route('admin.landing.site', array('slug' => $site->getSlug()));
                                }
                                ?>
                                <a class="btn btn-xs btn-default" href="<?php echo $route; ?>">Edytuj</a>
                            </div>
                        </td>
                    </tr>
                <?php endforeach; ?>
                <tr class="pagination-row">
                    <td colspan="5">
                        <?php echo $sites; ?>
                    </td>
                </tr>
            <?php else : ?>
                <tr class="pagination-row">
                    <td colspan="5">
                        Brak stron.
                    </td>
                </tr>
            <?php endif; ?>
            </tbody>
        </table>
        <div class="col-xs-12 page-actions">
            <a class="btn btn-default" href="<?php echo $this->route('admin.landing.add'); ?>">Dodaj stronę</a>
        </div>
    </div>
</div>