<?php
/**
 * Utworzono przez: Michał Świątek w PhpStorm
 * Dla: Zend CMS v1.0
 * Dnia: 2015-03-31 12:53
 *
 * @var $site Model_Site
 */

$site = $this->site;

?>

<div class="page-header">
    <h3>Edycja strony <small><?php echo $site->getTitle(); ?></small></h3>
</div>
<div class="row">
    <div class="col-xs-12">
        <?php echo $this->form; ?>
    </div>
</div>