<?php
/**
 * Utworzono przez: Michał Świątek w PhpStorm
 * Dla: Zend CMS v1.0
 * Dnia: 2015-03-25 22:25
 *
 *
 * @var $site Model_Site
 * @var $news Model_News
 * @var $this CMS_View
 */

$container = $this->getNavigation()->findByParam('id', 'landing');

//Zend_Debug::dump($container);

$site = $this->site;
$news = $this->news;
$page = $this->page();

$user = null;
if($this->getModel()->getAuth()->hasIdentity()){
    $user = $this->getModel()->user();
}
?>


<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>
        <?php
            $par = '';
            if($site) $par = $site->getTitle();
            elseif($news instanceof Model_News) $par = $news->getTitle();
        ?>
        <?php echo $page->title($par); ?>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="<?php echo $this->baseUrl()?>" />
    <link rel="stylesheet" href="<?php echo $this->baseUrl('/assets/bootstrap/css/bootstrap.min.css'); ?>"/>
    <link rel="stylesheet" href="<?php echo $this->baseUrl('/assets/fonts/fonts.css'); ?>" />
    <link rel="stylesheet" href="<?php echo $this->baseUrl('/assets/landing/css/main.css'); ?>" />
    <script src="<?php echo $this->baseUrl('/assets/bootstrap/js/jquery-2.1.3.min.js'); ?>"></script>
    <script src="<?php echo $this->baseUrl('/assets/bootstrap/js/bootstrap.min.js') ?>"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="<?php echo $this->route('home'); ?>">Logo</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <?php echo $this->nav($container)->setUlClass('nav navbar-nav')->setMaxDepth(0)->setUseAcl(false); ?>
            <?php if($user) : ?>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="<?php echo $this->route('panel.summary'); ?>">Panel</a></li>
                    <li><a href="<?php echo $this->route('user.logout'); ?>">Wyloguj się</a></li>
                </ul>
            <?php else : ?>
                <ul class="nav navbar-nav navbar-right">
                    <?php if(Zend_Registry::get('UserCanRegister')): ?>
                        <li><a href="<?php echo $this->route('user.register'); ?>">Zarejestruj się</a></li>
                    <?php endif; ?>
                    <li><a href="<?php echo $this->route('user.login'); ?>">Zaloguj się</a></li>
                </ul>
            <?php endif; ?>
        </div>
    </div>
</nav>
<div class="shadow"></div>
<div class="container">
    <div class="row content">
        <div class="col-xs-10 col-xs-offset-1">
            <?php echo $this->flashMessage(); ?>
            <div class="title">
                <?php if($news instanceof Model_News) { ?>
                    <?php echo 'Altualności'; ?>
                <?php }elseif($site) { ?>
                    <?php echo $site->getTitle(); ?>
                <?php }else { ?>
                    <?php echo $page->title;?>
                <?php } ?>
            </div>
            <div class="subpage row">
                <?php echo $this->layout()->content; ?>
            </div>
        </div>
    </div>
</div>
</body>
</html>


