<?php
/**
 * Utworzono przez: Michał Świątek w PhpStorm
 * Dla: Zend CMS v1.0
 * Dnia: 2015-03-25 22:51
 */
?>
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>
        <?php echo $this->title; ?>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="<?php echo $this->baseUrl()?>" />
    <link rel="stylesheet" href="<?php echo $this->baseUrl('/assets/bootstrap/css/bootstrap.min.css'); ?>"/>
    <link rel="stylesheet" href="<?php echo $this->baseUrl('/assets/fonts/fonts.css'); ?>" />
    <link rel="stylesheet" href="<?php echo $this->baseUrl('/assets/bootstrap/css/main.css'); ?>" />
    <script src="<?php echo $this->baseUrl('/assets/bootstrap/js/jquery-2.1.3.min.js'); ?>"></script>
    <script src="<?php echo $this->baseUrl('/assets/bootstrap/js/bootstrap.min.js') ?>"></script>
</head>
<body>
    <div class="container">
        <div class="row error-row">
            <div class="col-xs-8 col-xs-offset-2 error-col">
                <?php echo $this->layout()->content; ?>
            </div>
        </div>
    </div>
</body>
</html>

