<?php
/**
 * Utworzono przez: Michał Świątek w PhpStorm
 * Dla: Zend CMS v1.0
 * Dnia: 2015-03-25 22:25
 *
 * @var $user Model_User
 * @var $this CMS_View
 */

//$container = $this->navigation()->getContainer()->findBy('id', 'main');
//$container2 = $this->navigation()->getContainer()->findBy('id', 'user');
//$container3 = $this->navigation()->getContainer()->findBy('id', 'admin');

$user = null;
if($this->getModel()->getAuth()->hasIdentity()){
    $user = $this->getModel()->user();
}

$page = $this->page();


//Zend_Debug::dump($this->navigation()
//    ->findActive($this->navigation()->getContainer()));
//$this->navigation()->setRenderInvisible(true);
//Zend_Debug::dump($this->navigation()
//    ->findActive($this->navigation()->getContainer()));
//
//exit;
?>

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>
        <?php echo $page->title(); ?>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="<?php echo $this->baseUrl()?>" />
    <link rel="stylesheet" href="<?php echo $this->baseUrl('/assets/bootstrap/css/bootstrap.min.css'); ?>"/>
    <link rel="stylesheet" href="<?php echo $this->baseUrl('/assets/fonts/fonts.css'); ?>" />
    <link rel="stylesheet" href="<?php echo $this->baseUrl('/assets/panel/css/main.css'); ?>" />
    <script src="<?php echo $this->baseUrl('/assets/bootstrap/js/jquery-2.1.3.min.js'); ?>"></script>
    <script src="<?php echo $this->baseUrl('/assets/bootstrap/js/bootstrap.min.js') ?>"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="<?php echo $this->route('home'); ?>">Logo</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <?php if($user) : ?>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="<?php echo $this->route('panel.user.info'); ?>"><?php echo $user->getEmail(); ?></a></li>
                <li><a href="<?php echo $this->route('user.logout'); ?>">Wyloguj się</a></li>
            </ul>
            <?php else : ?>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="<?php echo $this->route('user.login'); ?>">Zaloguj się</a></li>
                </ul>
            <?php endif; ?>
        </div>
    </div>
</nav>
<div class="shadow"></div>
<div class="container">
    <div class="row content">
        <div class="col-xs-3">
            <?php echo $this->nav($this->getNavigation()->findbyParam('id', 'panel'))->setMaxDepth(0)->setUlClass('nav nav-pills nav-stacked panel-menu')->setTitledMenu()->setTitleClass('title menu-title'); ?>
            <?php if($user->getRole() == Model_User::ROLE_ADMIN || $user->getRole() == Model_User::ROLE_SUPERADMIN) { ?>
                <div class="title menu-title"><?php echo 'Panel Administracyjny'; ?></div>
                <?php echo $this->nav($this->getNavigation()->findbyParam('id', 'admin'))->setMaxDepth(0)->setUlClass('nav nav-pills nav-stacked panel-menu')->setTitledMenu(false); ?>
            <?php } ?>
        </div>
        <div class="col-xs-9">
            <?php echo $this->flashMessage(); ?>
            <?php echo $this->nav()->breadcrumbs(); ?>
            <?php echo $this->layout()->content; ?>
        </div>
    </div>
</div>
</body>
</html>



