@font-face {
    font-family: 'Open-Sans';
    font-style: normal;
    font-weight: 200;
    src: url('open-sans/OpenSans-Light.ttf');
}
@font-face {
    font-family: 'Open-Sans';
    font-style: italic;
    font-weight: 200;
    src: url('open-sans/OpenSans-LightItalic.ttf');
}
@font-face {
    font-family: 'Open-Sans';
    font-style: normal;
    font-weight: normal;
    src: url('open-sans/OpenSans-Regular.ttf');
}
@font-face {
    font-family: 'Open-Sans';
    font-style: italic;
    font-weight: normal;
    src: url('open-sans/OpenSans-Italic.ttf');
}
@font-face {
    font-family: 'Open-Sans';
    font-style: normal;
    font-weight: 600;
    src: url('open-sans/OpenSans-Semibold.ttf');
}
@font-face {
    font-family: 'Open-Sans';
    font-style: italic;
    font-weight: 600;
    src: url('open-sans/OpenSans-SemiboldItalic.ttf');
}
@font-face {
    font-family: 'Open-Sans';
    font-style: normal;
    font-weight: bold;
    src: url('open-sans/OpenSans-Bold.ttf');
}
@font-face {
    font-family: 'Open-Sans';
    font-style: italic;
    font-weight: bold;
    src: url('open-sans/OpenSans-BoldItalic.ttf');
}
@font-face {
    font-family: 'Open-Sans';
    font-style: normal;
    font-weight: 900;
    src: url('open-sans/OpenSans-ExtraBold.ttf');
}
@font-face {
    font-family: 'Open-Sans';
    font-style: italic;
    font-weight: 900;
    src: url('open-sans/OpenSans-ExtraBoldItalic.ttf');
}

@font-face {
    font-family: 'Open-Sans Condensed';
    font-style: normal;
    font-weight: 200;
    src: url('open-sans-condensed/OpenSans-CondLight.ttf');
}
@font-face {
    font-family: 'Open-Sans Condensed';
    font-style: italic;
    font-weight: 200;
    src: url('open-sans-condensed/OpenSans-CondLightItalic.ttf');
}
@font-face {
    font-family: 'Open-Sans Condensed';
    font-style: normal;
    font-weight: bold;
    src: url('open-sans-condensed/OpenSans-CondBold.ttf');
}

@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 100;
    src: url('roboto-slab/RobotoSlab-Thin.ttf');
}
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 200;
    src: url('roboto-slab/RobotoSlab-Light.ttf');
}
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: normal;
    src: url('roboto-slab/RobotoSlab-Regular.ttf');
}
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: bold;
    src: url('roboto-slab/RobotoSlab-Bold.ttf');
}

